/*Cambio del color fondo de la pagina*/
body {
    background: rgba(122, 135, 253, 0.751);
}
/*pocision de la imagen
.img {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    cursor: pointer;
}

.container1 {
    text-align: center;
}

.c2 {
    text-align: center;
}

.c4 {
    text-align: center;
}

.Presentado {
    position: relative;
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Titulo {
    position: relative;
    width: 1500px;
    height: 250px;
}
*/
.container2 {
    position: relative;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container3 {
    position: relative;
    width: 550px;
    height: 250px;
    border: 3px groove rgb(183, 246, 211);
    background: #8289e9;
    font-weight: bold;
}

.container4 {
    position: relative;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

.container5 {
    display: flex;
}

h1,
h2 {
    color: rgb(57, 33, 33);
    text-align: center;
    padding: 5px;
}

button {
    width: 100px;
    height: 30px;
    background-color: lightblue;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 4px;
    margin-bottom: 30px;
}

#Borrar {
    position: relative;
    margin-top: 8%;
    margin-left: 30%;
}
